html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  /* PREVENTS SCROLLING/PULL-TO-REFRESH ON MOBILE SO YOU CAN DRAG THE 3D SCENE */
  touch-action: none; 
}